

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <h6>Author</h6>
          <div class="author-blurb"> 
          <p class="text-justify">Josh Parkhill is a freelance Line Producer, Production Manager, and Director Rep, based in New York City, available as a local across the US + CAN. If you are someone who would like help bidding, actualizing, or executing a project please feel free to reach out direct. Also open to friendly conversation. </div></p>
        </div>
        <div class="col-xs-6 col-md-3">
            <ul class="footer-links">
              <h6>Quick Links</h6>
              {% for key_value in site.quick_links %}
              {% if key_value[1] %}
              <li>
                <a href="{{ key_value[1] }}"  target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0]}}"> <span class="label">{{ key_value[0]}}</span> </a>
              </li>
              {% endif %}
              {% endfor %}
          </ul>
        </div>
        <div class="col-xs-6 col-md-3">
            <ul class="footer-links">
          <h6>Socials</h6>
            {% for key_value in site.new_socials %}
              {% if key_value[1] %}
                <li>
                  <a href="{{ key_value[1] }}"  target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0]}}"> <span class="label">{{ key_value[0]}}</span> </a>
            </li>
              {% endif %}
            {% endfor %}
            </ul>
      <!-- <hr> -->
    </div>
    </div>
    <div class="container" id="CopyrightContainer">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by 
       <a href="#">Thought Pro LLC</a>.
          </p>
        </div>
        </div>

  
          </ul>
        </div>
          </div>
        </div>
      </div>
      </footer>
      
    
</footer>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
