  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Author</h6>
          <p class="text-justify">Josh Parkhill is a freelance Line Producer, Production Manager, and Director Rep, based in New York City, available as a local across the US + CAN. Writing about ipsum blocks, and what have you's. If you are someonbe who would like help bidding a project, actualizing a project, executing a project, or you are perhasp looking for recommendations on crew, director, or otherwise talented persons. Reach out directly, by phone, text, email, or lurk. </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">JPTV</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">Email</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">Production Docs</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Directors.Work</a></li>
            <li><a href="http://scanfcode.com/category/android/">917.744.1674</a></li>
           
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Socials</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">Instagram</a></li>
            <li><a href="http://scanfcode.com/contact/"> Bluesky</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Substack</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Slack</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Linkedin</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="inner">

        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by 
       <a href="#">Thought Pro LLC</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>


